/**
 * @fileOverview dashboard
 * @date 2023-7-4
 * @author poohlaha
 */
.dashboard-page {
  .ant-card.server-info-card {
    table tbody {
      tr.ant-descriptions-row {
        display: flex;

        th.ant-descriptions-item-label {
          min-width: 80px;
        }

        td.ant-descriptions-item-content {
          display: flex;
          flex: 1;
          min-width: 80px;
        }

        .ant-descriptions-item-content.pwd-box > span {
          width: 100%;
        }
      }
    }
  }
}
